html,
body {
  font-family: 'Playfair Display', sans-serif;
  text-align: center;
  color: white;
}
p{
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
h2{
  color: #7F8688;
  font-weight: 400;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
.resume h2{
  color:#F3E367;
}
* {
  margin: 0;
  padding: 0;
}
.title{
  opacity: .9;
}
.title a{
  color: #F3E367;
}
.title a:hover{
  color:#18181E;
}
.intro, #about-section {
  top: 0;
  background: #f1f1f1;
  min-height: 55vh;
  padding-top: 45vh;
  background-image: linear-gradient(#7F8688, #929D9E);
}
#about-section {
  padding-top: 20vh;
  min-height: 105vh;
}
.resume{
  padding-top: 1em;
  min-height: 100vh;
}
.resume img{
  height: 10em;
}
.intro p {
  color: #F3E367;
}
#navbar{
  border-bottom: #F3E367 1px solid;
  background-color: #7F8688;
  z-index: 1;
}
nav ul {
  text-align: right;
  position: fixed;
  width: 100%;
}

nav ul li {
  display: inline-block;
  margin: 1em 2em;
}

nav ul li a {
  color: white;
  opacity: .9;
  text-decoration: none;
}

nav ul li a:hover {
  opacity:1;
  color:#18181E;
}

.work {
  padding-top: 60px;
  margin-top: -60px;
}

.work .work-header {
  margin-top: 50px;
}

.project {
  text-decoration: none;
  color: darkgray;
  display: inline-block;
  overflow: hidden;
  border: 2px solid #F3E367;
  opacity: .85;
  height: 230px;
  width: 280px;
  margin: 40px 100px;
}
.project:hover{
  border-color: darkgray;
  opacity: 1;
}

.project-pic {
  width: 100%;
  height: 180px;
  border-bottom: 2px solid #f1f1f1;
}

.project-title {
  font-weight: normal;
}

.show-all {
  text-decoration: none;
  display: block;
  width: 200px;
  height: 30px;
  margin: 20px auto 90px;
  background-color: #929D9E;
  font-size: 1em;
  border: darkgray 1px solid;
  cursor: pointer;
  padding-top:10px;
}

a.show-all, a.contact-details {
  color: #F3E367;
  opacity: 0.65;
  font-weight: 400em;
  background: #929D9E;
}

.show-all:hover {
  color: #F3E367;
  opacity: 1;
}
.sub-heading {
  color:#929D9E;
}

@media only screen and (max-width: 500px) {
  nav ul {
    text-align: center;
  }
  nav ul li {
    margin: 20px;
  }
  .project {
    margin: 40px 0;
  }
}

.contact {
  background-color: #f1f1f1;
  padding-bottom: 160px;
}

.header {
  padding: 160px 0 110px;
}
#myGrid img{
  border: 2px solid darkgray;
}

.contact-details {
  display: inline-block;
  margin: 0 35px 45px 35px;
  list-style-type: none;
  border: darkgray 1px solid;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  line-height: 100px;
  background: white;
  color: #008080;
  text-decoration: none;
}

.contact-details:hover {
  color: #F3E367;
  opacity: 1;
}

footer {
  padding: 20px;
  background-color: #F3E367;
  color: #7F8688;
  line-height: 40px;
  border-top: 1px solid white;
}

footer a {
  color: white;
  opacity: .8;
}

@media only screen and (max-width: 367px) {
  .contact-details {
    border: darkgray 1px solid;
    border-radius: 0;
    width: 90px;
    height: 20px;
    padding: 10px;
    line-height: normal;
  }
}